target/
lib/
log/
[Bb]in/
obj/
packages/
.vs/
*.tmp
*.TMP
*.user
UpgradeLog*.htm
#config.xml
#users.xml
*.orig
*.cache
*.feature.cs
*.bak
*.dbmdl
/Task8/TestDB/TestDB/TestDB.jfm
Task8/TestDB/TestDB/TestDB.jfm
